<template>
  <div class="card alert" v-if="alert" :class="alert.type">
    <h3>{{ alert.title }}</h3>
    <p>{{ alert.text }}</p>
    <button class="btn" :class="alert.type" @click="close">Закрыть</button>
  </div>
</template>

<script>
export default {
  name: "AppAlert",

  props: {
    alert: {
      type: Object,
      required: false,
    },
  },

  emits: {
    close: null,
  },

  methods: {
    close() {
      this.$emit("close");
    },
  },
};
</script>
