<template>
  <div class="card card-w70">
    <template v-if="blocks.length">
      <component
        v-for="block in blocks"
        :key="block.id"
        :is="'resume-' + block.type"
        :value="block.value"
        :firebaseId="block.firebaseId"
        @removeBlock="forwardRemove"
      >
        <!-- v-bind="{ value: block.value }" -->
      </component>
    </template>
    <h3 v-else>Добавьте первый блок, чтобы увидеть результат</h3>
  </div>
</template>

<script>
import ResumeTitle from "./parts/ResumeTitle.vue";
import ResumeSubtitle from "./parts/ResumeSubtitle.vue";
import ResumeAvatar from "./parts/ResumeAvatar.vue";
import ResumeText from "./parts/ResumeText.vue";

export default {
  name: "ResumeView",

  components: {
    ResumeTitle,
    ResumeSubtitle,
    ResumeAvatar,
    ResumeText,
  },

  props: {
    blocks: {
      type: Array,
    },
  },

  emits: {
    // forwardRemove: null,
    forwardRemove: (value) => typeof value == "string",
  },

  methods: {
    forwardRemove(firebaseId) {
      this.$emit("forwardRemove", firebaseId);
    },
  },
};
</script>
