<template>
  <form class="card card-w30" @submit.prevent="submit">
    <div class="form-control">
      <label for="type">Тип блока</label>
      <select id="type" v-model="type">
        <option value="title">Заголовок</option>
        <option value="subtitle">Подзаголовок</option>
        <option value="avatar">Аватар</option>
        <option value="text">Текст</option>
      </select>
    </div>

    <div class="form-control">
      <label for="value">Значение</label>
      <textarea
        id="value"
        placeholder="не менее 4 символов"
        rows="3"
        v-model.trim="value"
      ></textarea>
    </div>

    <button class="btn primary" :disabled="!isValid">Добавить</button>
  </form>
</template>

<script>
export default {
  name: "ResumeForm",

  emits: {
    "block-added": null,
  },

  data() {
    return {
      type: "title",
      value: "",
    };
  },

  computed: {
    isValid() {
      return this.value.length > 3;
    },
  },

  methods: {
    submit() {
      this.$emit("block-added", {
        type: this.type,
        value: this.value,
        id: Date.now(),
      });
      (this.type = ""), (this.value = "");
    },
  },
};
</script>
