<template>
  <!-- <p>{{ $attrs.value }}</p> -->
  <div class="card position-relative">
    <p>{{ value }}</p>
    <svg-close-button @click="removeBlock(firebaseId)"> </svg-close-button>
  </div>
</template>

<script>
import SvgCloseButton from "./SvgCloseButton.vue";

export default {
  name: "ResumeText",

  components: {
    SvgCloseButton,
  },

  props: {
    value: {
      type: String, // тип объекта
      required: false, // обазательный или нет
    },
    firebaseId: {
      type: String,
      required: true,
    },
  },

  emits: {
    removeBlock: (value) => typeof value == "string",
  },
  methods: {
    removeBlock(firebaseId) {
      this.$emit("removeBlock", firebaseId);
    },
  },
};
</script>
<style scoped>
.card {
  position: relative; /* Родительский элемент для абсолютного позиционирования кнопки */
}

.top-right {
  position: absolute; /* Абсолютное позиционирование */
  top: 10px; /* Отступ от верхней границы */
  right: 10px; /* Отступ от правой границы */
}
</style>
