<template>
  <div class="card avatar position-relative">
    <p>
      <img :src="scrUrl" />
    </p>
    <svg-close-button @click="removeBlock(firebaseId)"> </svg-close-button>
  </div>
</template>

<script>
import SvgCloseButton from "./SvgCloseButton.vue";

export default {
  name: "ResumeAvatar",

  components: {
    SvgCloseButton,
  },

  props: {
    value: {
      type: String, // тип объекта
      required: true, // обазательный или нет
    },
    firebaseId: {
      type: String,
      required: true,
    },
  },

  emits: {
    removeBlock: (value) => typeof value == "string",
  },

  data() {
    return {
      default_url:
        "https://cdn.dribbble.com/users/5592443/screenshots/14279501/drbl_pop_r_m_rick_4x.png",
    };
  },

  computed: {
    scrUrl() {
      return this.value.startsWith("https:") ? this.value : this.default_url;
    },
  },

  methods: {
    removeBlock(firebaseId) {
      this.$emit("removeBlock", firebaseId);
    },
  },
};
</script>

<style scoped>
.avatar {
  display: flex;
  justify-content: center;
}
.avatar img {
  width: 150px;
  height: auto;
  border-radius: 50%;
}
.avatar {
  position: relative; /* Родительский элемент для абсолютного позиционирования кнопки */
}

.top-right {
  position: absolute; /* Абсолютное позиционирование */
  top: 10px; /* Отступ от верхней границы */
  right: 10px; /* Отступ от правой границы */
}
</style>
