<template>
  <div class="container column">
    <resume-form @block-added="AddBlock"></resume-form>
    <resume-view :blocks="blocks" @forwardRemove="handleRemove"></resume-view>
  </div>
  <div class="container">
    <app-alert :alert="alert" @close="closeAlert"></app-alert>
    <app-loader v-if="loading"></app-loader>
    <resume-comments
      v-else
      :comments="comments"
      @load-comments="loadComments"
    ></resume-comments>
  </div>
</template>

<script>
import axios from "axios";
import ResumeForm from "./components/ResumeForm.vue";
import ResumeView from "./components/ResumeView.vue";
import AppLoader from "./components/AppLoader.vue";
import ResumeComments from "./components/ResumeComments.vue";
import AppAlert from "./components/AppAlert.vue";

export default {
  name: "App",

  components: {
    ResumeForm,
    ResumeView,
    AppLoader,
    ResumeComments,
    AppAlert,
  },

  data() {
    return {
      blocks: [],
      comments: [],
      loading: false,
      alert: null,
    };
  },

  mounted() {
    this.loadResume();
  },

  computed: {
    isValid() {
      return this.description.length > 3;
    },
  },

  methods: {
    setDataBaseUrl() {
      return process.env.VUE_APP_DATABASE_URL + "/resumes.json";
    },

    setCommentsUrl() {
      return process.env.VUE_APP_COMMENTS_URL;
    },

    closeAlert() {
      this.alert = null;
    },

    async AddBlock(block) {
      const URL = this.setDataBaseUrl();

      const response = await fetch(URL, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          type: block.type,
          value: block.value,
          id: block.id,
        }),
      });

      const firebaseData = await response.json();

      block.firebaseId = firebaseData.name;

      this.blocks.push(block);
    },

    loadResume() {
      const URL = this.setDataBaseUrl();

      this.loading = true;

      setTimeout(async () => {
        try {
          const response = await axios.get(URL);

          // ! если  response.data пусто тогда будет ошибка с этим текстом
          // ! до catch (e) выполнение не дойдет
          // ? если убрать эту проверку, то ошибка попадет в  catch (e)
          if (!response.data) {
            throw new Error("Список людей пуст");
          }

          window.foo = response.data;
          window.bar = Object.keys(response.data);

          const result = Object.keys(response.data).map((key) => {
            return {
              firebaseId: key,
              // firstName: response.data[key].firstName,
              // * ...response.data[key] - более универсальная запись - все полученные ключи
              ...response.data[key],
            };
          });

          this.blocks = result;

          this.loading = false;
        } catch (e) {
          this.alert = {
            type: "danger",
            title: "Ошибка!",
            text: e.message,
          };

          // ! смотри блок throw new Error("Список людей пуст"); - генерация кастомной ошибки
          console.log(e.message);
          this.loading = false;
        }
      }, 1500);
    },

    async loadComments() {
      const URL = this.setCommentsUrl();

      this.loading = true;

      const res = await fetch(URL);

      this.comments = await res.json();

      this.alert = {
        type: "primary",
        title: "Комментарии загружены успешно ",
      };

      this.loading = false;
    },

    async handleRemove(firebaseId) {
      try {
        const deleteUrl =
          process.env.VUE_APP_DATABASE_URL + `/resumes/${firebaseId}.json`;

        const deletedBlock = this.blocks.find(
          (block) => block.firebaseId === firebaseId
        );

        await axios.delete(deleteUrl);

        this.blocks = this.blocks.filter(
          (block) => block.firebaseId !== firebaseId
        );

        this.alert = {
          type: "primary",
          title: "Успешно ",
          text: `Блок ${deletedBlock.type} был удален`,
        };
      } catch (e) {
        // ! выведем ошибку, если запись не была удалена
        console.log("Ошибка удаления записи", e);
      }
    },
  },
};
</script>
